* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.productpage {
  display: grid;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}
.productpage > p {
  text-align: start;
  margin-left: 10%;
}
.Header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;

  margin-top: 20px;
}
.Header1{
  width: 20%;
  border: 1px solid grey;
  height: 100%;
}
.Header2{
  width: 60%;
}
.Header2 img{
  width: 100%;
}

