.cartItem {
    display: flex;
    margin-top: 20px;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    border-bottom: 1px solid gainsboro;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
  .cartItem:last-child {
    border-bottom: none;
  }
  
  .cartItem__info {
    padding-left: 20px;
  }
  
  .cartItem__info > button {
    border: unset;
    margin-top: 10px;
    border-radius: 5px;
    background-color: transparent;
  }
  
  .cartItem__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }
  
  .cartItem__title {
    font-size: 20px;
    font-weight: 450;
  }
  
  .cartItem__price {
    font-size: 20px;
    line-height: 35px;
  }
  
  .cartItem__incrDec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 100px;
  }
  
  .cartItem__incrDec button {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    border: none;
    border-radius: 100px;
  }
  
  .cartItem__incrDec button:hover {
    box-shadow: 0 2px 2px gray;
    
  }
  
  .cartItem__incrDec button:active {
    box-shadow: unset;
    
  }
  
  .cartItem-removeButton{
    color: rgb(241, 131, 131);
  }
  
  .cartItem__removeButton:hover {
    color: rgb(243, 92, 92);
    
  }
  
  .cartItem__removeButton:active {
    color: rgb(241, 131, 131);
  }
  .checkout{
    border:1px solid black;
    width:200px;
    margin-top: 150px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    background-color: black;
  }
  .checkout:hover{
    background-color: green;
  }
  
  @media (max-width: 1000px) {
    .cartItem__title {
      font-size: 18px;
    }
  
    .cartItem__price {
      font-size: 18px;
    }
    .checkout{
        
        width:100px;
      
      }
  }
  
  @media (max-width: 400px) {
    .cartItem {
      flex-direction: column;
    }
  
    .cartItem__title {
      margin-top: 15px;
    }
    .checkout{
        
        width:100px;
      
      }
  }
  