.all-product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(200px);
    gap: 10px;
}

.pagination{
    list-style: none;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-sizing: border-box;
 
}

.page_item{
     width: 50px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}